body {
  font-family: "Montserrat";
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Big-headings */
h1, h2, h3, h4 {
  color: rgb(68, 16, 107);
  text-align: center;
  font-family: "Montserrat-bold";
  font-size: 2rem;
}

p {
  text-align: center;
  font-family: "Montserrat-lighter";
  font-size: 1.8rem;
  color: white;
}

.my-self {
  text-align:justify;
  padding: 0 7%;
  font-family: "Montserrat-lighter";
  font-size: 1.7rem;
  line-height: 3rem;
  color: white;
}

.image {
  display: flex;
  height: 500px;
  width: 500px;
  margin-left: 55%;
  justify-content: center;
  border-radius: 10%;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  align-items: center;
}

/* logo */
#fluid {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  font-size: 1.5rem;
  padding: 50px 0;
}

.right {
  color: #8f8f8f;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 1rem;
}

.fa-facebook:hover {
  color: darkslateblue;
}

.fa-instagram:hover {
  color: #f09433;
  color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-whatsapp:hover {
  color: #25D366;
}

/* colord-section */
.colord-section {
  text-align: center;
  overflow: hidden;
  padding-bottom: 5%;
  background-color: #ff4c68;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
  font-family: Montserrat-lighter;
}
.navbar{
  background-color: #ff4c68;
}

.nav-item {
 
  padding: 0 18px;
}

/* about section */
.about-section {
  padding-top: 20px;
  text-align: center;
  max-width: 100%;
}

/* skilled-section */
.skills-section {
  color: white;
  display: flex;
  padding-bottom: 10px;
  font: 1em sans-serif;
}


.progress {
  width: 100vh;
  margin: 10px 0;
  display: flex;
 justify-content: center;
}

/* qulifacation-section */
.qulifacation-section {
  padding: 10% 0;
}

/* contact-section */
.contact-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  padding: 50px 20px; 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  height: 50px; 
  margin-bottom: 20px; 
}

/* gallery used js */
#gallery {
  background-color: darkgrey;
  position: relative;
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
  overflow: hidden;
  height: 700px;
}

.fun {
  width: 100%; 
  height: 100%;
  object-fit:fill;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

     
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #14042b);
  background-image: -moz-linear-gradient(top, #3cb0fd, #14042b);
  background-image: -ms-linear-gradient(top, #3cb0fd, #14042b);
  background-image: -o-linear-gradient(top, #3cb0fd, #14042b);
  background-image: linear-gradient(to bottom, #3cb0fd, #14042b);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .image {
    width: 100%; 
    margin-left: 0;
    align-items: center;

  }

  .photo {
    margin-left: 0;
  }

  .container-fluid {
    flex-direction: column;
    align-items: center; 
  }

  
  .contact-section textarea {
    width: 100%; 
  }
  .progress{
    width: 100%;
  }
  .my-self{
    text-align: justify;
    
  }
}
